<!-- shows create project button on project page and create issue buton if the project is open -->
<nav class="navbar navbar-expand-sm " style="background-color: #2e2d78;" >
  <div class="container-fluid">
    
    <a class="navbar-brand ms-4 text-white  h1" href="/"><img src="https://cdn-icons-png.flaticon.com/512/564/564619.png" 
    style="height: 24px; margin-top: -5px; "/> Issue Tracker </a>
    <% if( title === "Project Page"){ %> <%- include('_issue_form'); %> <%
    }else{ %> <%- include('_project_form'); %> <% } %>
  </div>
</nav>
